# Toronto Neighbourhoods

## 1. Introduction

This notebook aims to accomplish [Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto](https://www.coursera.org/learn/applied-data-science-capstone#syllabus) in the course of [Applied Data Science Capstone](https://www.coursera.org/learn/applied-data-science-capstone). This notebook is going to analyse Toronto neightbourhoods in Canada. Firstly, such neighbourhoods data will be collected directly from Wikipedia. We're going to create a table as shown in Table 1. In order to do so, we need to scrape this [Wikipedia page](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M). Next, we will use Geocoder library to get the latitude and longitude coordinates as show in Table 2. Finally, we will be using clustering algorithm to clustering the neighbourhoods in Toronto.

<p style="text-align:center"><i>Table 1</i></p>

![](image-table.png)

<p style="text-align:center"><i>Table 2</i></p>

![](image-table2.png)

### 1.1. Aim

The goal of this notebook is to create a table of Toronto neighbourhoods whose data are obtained from Wikipedia and Geocoder library and to create segmentations of such neighbourhoods by using clustering method.

### 1.2. Objectives

1. To scrape the following Wikipedia page https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
2. To create the above dataframe as shown in Table 1
3. To get latitude and longitude coordinates of each postal code using Geocoder library to create the dataframe as shown in Table 2
4. To cluster Toronto neighbourhoods using K-Means Clustering algorithm
5. To visualise the generated clusters in map using Folium library

### 1.3. Structure

This notebook is arranged as follows.

1. [Introduction](#Introduction)
2. [Webpage Scraping](#Webpage-Scraping)
3. [Getting Coordinates](#Getting-Coordinates)
4. [Clustering](#Clustering)
5. [Visualisations](#Visualisations)
6. [Conclusions](#Conclusions)

<h2 id="Webpage-Scraping">2. Webpage Scraping</h2>

Import all necessary libraries for scraping Wikipedia webpage.

In [4]:
import pandas as pd

Let's get the original table from Wikipedia page

In [5]:
# insert url address
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# get table from Wikipedia using pandas.read_html()
df = pd.read_html(url)

# the table we're looking for is at the first table of the list of tables extracted
df = df[0]

# print its original shapes
print('The dataframe has {} rows and {} columns'.format(df.shape[0], df.shape[1]))

# print 5 first rows
df.head()

The dataframe has 180 rows and 3 columns

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

As seen in the above dataframe, there exist __Not assigned__ and `NaN` values. First, let's see all missing value exist. We can see the unique values of each column.

In [61]:
df['Postal Code'].unique()

array(['M1A', 'M2A', 'M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M8A', 'M9A',
       'M1B', 'M2B', 'M3B', 'M4B', 'M5B', 'M6B', 'M7B', 'M8B', 'M9B',
       'M1C', 'M2C', 'M3C', 'M4C', 'M5C', 'M6C', 'M7C', 'M8C', 'M9C',
       'M1E', 'M2E', 'M3E', 'M4E', 'M5E', 'M6E', 'M7E', 'M8E', 'M9E',
       'M1G', 'M2G', 'M3G', 'M4G', 'M5G', 'M6G', 'M7G', 'M8G', 'M9G',
       'M1H', 'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M7H', 'M8H', 'M9H',
       'M1J', 'M2J', 'M3J', 'M4J', 'M5J', 'M6J', 'M7J', 'M8J', 'M9J',
       'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M7K', 'M8K', 'M9K',
       'M1L', 'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M7L', 'M8L', 'M9L',
       'M1M', 'M2M', 'M3M', 'M4M', 'M5M', 'M6M', 'M7M', 'M8M', 'M9M',
       'M1N', 'M2N', 'M3N', 'M4N', 'M5N', 'M6N', 'M7N', 'M8N', 'M9N',
       'M1P', 'M2P', 'M3P', 'M4P', 'M5P', 'M6P', 'M7P', 'M8P', 'M9P',
       'M1R', 'M2R', 'M3R', 'M4R', 'M5R', 'M6R', 'M7R', 'M8R', 'M9R',
       'M1S', 'M2S', 'M3S', 'M4S', 'M5S', 'M6S', 'M7S', 'M8S', 'M9S',
       'M1T', 'M2T', 'M3T', 'M4T', 'M5T', 'M6T', 'M7T', 'M8T', 'M9T',
       'M1V', 'M2V', 'M3V', 'M4V', 'M5V', 'M6V', 'M7V', 'M8V', 'M9V',
       'M1W', 'M2W', 'M3W', 'M4W', 'M5W', 'M6W', 'M7W', 'M8W', 'M9W',
       'M1X', 'M2X', 'M3X', 'M4X', 'M5X', 'M6X', 'M7X', 'M8X', 'M9X',
       'M1Y', 'M2Y', 'M3Y', 'M4Y', 'M5Y', 'M6Y', 'M7Y', 'M8Y', 'M9Y',
       'M1Z', 'M2Z', 'M3Z', 'M4Z', 'M5Z', 'M6Z', 'M7Z', 'M8Z', 'M9Z'],
      dtype=object)

There is no suspicious value in the first column. Let's move on the second one

In [62]:
df.Borough.unique()

array(['Not assigned', 'North York', 'Downtown Toronto', 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

As seen above, there is `Not assigned` value in the second column. Now, let's check the last column.

In [63]:
df.Neighborhood.unique()

array([nan, 'Parkwoods', 'Victoria Village', 'Regent Park, Harbourfront',
       'Lawrence Manor, Lawrence Heights',
       "Queen's Park, Ontario Provincial Government", 'Islington Avenue',
       'Malvern, Rouge', 'Don Mills', 'Parkview Hill, Woodbine Gardens',
       'Garden District, Ryerson', 'Glencairn',
       'West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale',
       'Rouge Hill, Port Union, Highland Creek', 'Woodbine Heights',
       'St. James Town', 'Humewood-Cedarvale',
       'Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood',
       'Guildwood, Morningside, West Hill', 'The Beaches', 'Berczy Park',
       'Caledonia-Fairbanks', 'Woburn', 'Leaside', 'Central Bay Street',
       'Christie', 'Cedarbrae', 'Hillcrest Village',
       'Bathurst Manor, Wilson Heights, Downsview North',
       'Thorncliffe Park', 'Richmond, Adelaide, King',
       'Dufferin, Dovercourt Village', 'Scarborough Village',
       'Fairview, Henry Farm, Oriole', 'Northwood Park, York University',
       'East Toronto',
       'Harbourfront East, Union Station, Toronto Islands',
       'Little Portugal, Trinity',
       'Kennedy Park, Ionview, East Birchmount Park', 'Bayview Village',
       'Downsview', 'The Danforth West, Riverdale',
       'Toronto Dominion Centre, Design Exchange',
       'Brockton, Parkdale Village, Exhibition Place',
       'Golden Mile, Clairlea, Oakridge', 'York Mills, Silver Hills',
       'India Bazaar, The Beaches West', 'Commerce Court, Victoria Hotel',
       'North Park, Maple Leaf Park, Upwood Park', 'Humber Summit',
       'Cliffside, Cliffcrest, Scarborough Village West',
       'Willowdale, Newtonbrook', 'Studio District',
       'Bedford Park, Lawrence Manor East',
       'Del Ray, Mount Dennis, Keelsdale and Silverthorn',
       'Humberlea, Emery', 'Birch Cliff, Cliffside West', 'Willowdale',
       'Lawrence Park', 'Roselawn', 'Runnymede, The Junction North',
       'Weston', 'Dorset Park, Wexford Heights, Scarborough Town Centre',
       'York Mills West', 'Davisville North', 'Forest Hill North & West',
       'High Park, The Junction South', 'Westmount', 'Wexford, Maryvale',
       'North Toronto West', 'The Annex, North Midtown, Yorkville',
       'Parkdale, Roncesvalles', 'Canada Post Gateway Processing Centre',
       'Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens',
       'Agincourt', 'Davisville', 'University of Toronto, Harbord',
       'Runnymede, Swansea', "Clarks Corners, Tam O'Shanter, Sullivan",
       'Moore Park, Summerhill East',
       'Kensington Market, Chinatown, Grange Park',
       "Milliken, Agincourt North, Steeles East, L'Amoreaux East",
       'Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park',
       'CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport',
       'New Toronto, Mimico South, Humber Bay Shores',
       'South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens',
       "Steeles West, L'Amoreaux West", 'Rosedale', 'Stn A PO Boxes',
       'Alderwood, Long Branch', 'Northwest', 'Upper Rouge',
       'St. James Town, Cabbagetown',
       'First Canadian Place, Underground city',
       'The Kingsway, Montgomery Road, Old Mill North',
       'Church and Wellesley', 'Business reply mail Processing Centre',
       "Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East",
       'Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West'],
      dtype=object)

There is `NaN`(not a number) value in the third column. So, we're going to remove the `Not assigned` values in the second column and the `NaN` values in the third one.

In [6]:
# drop Not assigned value
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)

# drop NaN value
df.dropna(axis='rows', inplace=True)

# let's see the first 5 rows
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Then, let's check if `Not assigned` and `NaN` still exist.

In [4]:
print('Does "Not assigned" exist?')
print(df[df.Borough == 'Not assigned'].sum())
print('\nDoes NaN exist?')
print(df.isnull().sum())

Does "Not assigned" exist?
Postal Code     0.0
Borough         0.0
Neighborhood    0.0
dtype: float64

Does NaN exist?
Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

Nice. We've got our dataframe cleaned. Now, let's check its number of rows and columns.

In [5]:
print('The final dataframe has {} rows and {} columns'.format(df.shape[0], df.shape[1]))

The final dataframe has 103 rows and 3 columns

## 3. Getting Coordinates

Import all necessary libraries to collect coordinates

In [7]:
import requests
import json
from  geopy.geocoders import Nominatim

In [6]:
import geocoder # import geocoder

In [10]:
def get_geocoder(postal_code):
     # initialize your variable to None
    lat_lng_coords = None
     # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [35]:
df['Latitude'], df['Longitude'] = zip(*df['Postal Code'].apply(get_geocoder))

In [36]:
fileCoor = 'Geospatial_Coordinates.csv'
LatLon = pd.read_csv(fileCoor)
LatLon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [39]:
df = df.merge(LatLon, on='Postal Code', how='inner')
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [44]:
df['Postal Code'].value_counts()

M5T    1
M4T    1
M6R    1
M2J    1
M4H    1
      ..
M1X    1
M8X    1
M7A    1
M9L    1
M4K    1
Name: Postal Code, Length: 103, dtype: int64

## 4. Clustering

## 5. Visualisations

<h2 id='Conclusions'>6. Conclusions</h2>